<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Генератор QR-кода</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <div class="container">
    <h1>Генератор QR-кода</h1>
    <div class="input-field">
      <input type="text" id="url-input" placeholder="Введите ссылку">
      <button class="sumbit-btn" type="submit"> Генерировать</button>
    </div>
    <div class="qr-code">
      <img id="qr-code-img" src="" alt="QR-код">
    </div>
  </div>
  <script>
    function generateQRCode() {
      const url = document.getElementById("url-input").value;
      const qrCodeImg = document.getElementById("qr-code-img");

      qrCodeImg.src = "https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=" + encodeURIComponent(url);
    }
  </script>
</body>
</html>