<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Генератор QR-кода</title>
  <link rel="stylesheet" href=".../static/style.css">
</head>
<body>
  <div class="container">
    <h1>Генератор QR-кода</h1>
    <div class="input-field">
      <input type="text" name="url-input" placeholder="Введите ссылку">
      <button class="sumbit-btn" type="submit"> Генерировать</button>
    </div>
    <div class="qr-code">
      <img id="qr-code-img" src="qr_ready.png" alt="QR-код">
      <h2>URL: {{ url_input }}</h2>
    </div>
  </div>
</body>
</html>

